<%if @trainer == current_user%>
<p>update your Trainer info <a href="/trainers/<%=@trainer.id%>/edit">here</a></p>
<%end%>


<h2><%=@trainer.trainer_name%>'s pokemon!</h2>
<ul>
<%@trainer.pokemon.each do |p|%>
  <li>
      <h3><a href="/pokemon/<%=p.id%>"><%=p.name%></a></h3>
      <p>Pokemon Nick Name: <%=p.nickname%></p>
      <p>Pokemon Type: <%=p.element%></p>
  </li>
  <br>
<%end%>
</ul>

<p>view <a href=/pokemon>Pokemon </a>or <a href="/trainers">Trainers</a></p>